[submodule "jk471"]
	path = jk471
	url = https://github.com/jonathanknudsen/duke-html.git

[submodule "egrmgmt590.23.f19"]
	path = jk471/egrmgmt590.23.f19
	url = https://github.com/jonathanknudsen/egrmgmt590.23.f19.git

[submodule "fintech514.s21"]
	path = jk471/fintech514.s21
	url = https://github.com/jonathanknudsen/fintech514.s21.git
